html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "polya-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/polya-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/polya-webfont.woff2") format("woff2"), url("/fonts/polya-webfont.woff") format("woff"), url("/fonts/polya-webfont.ttf") format("truetype"), url("/fonts/polya-webfont.svg#polya-webfont") format("svg"); }

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  z-index: 5000;
  height: 5rem;
  width: 100%;
  background-color: yellow; }
  #nav-bar #logo-banner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-family: "polya-webfont";
    font-size: 3rem;
    color: #eb008b;
    margin-left: 2rem; }
    #nav-bar #logo-banner:last-child {
      margin-right: 0; }
  #nav-bar #blurb {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    display: none;
    color: black; }
    #nav-bar #blurb:last-child {
      margin-right: 0; }
    @media screen and (min-width: 1000px) {
      #nav-bar #blurb {
        display: block; } }
    #nav-bar #blurb span {
      background-color: white;
      line-height: 1.5rem;
      padding: .1rem; }
  #nav-bar #nav-command {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    font-size: 1.2rem;
    font-weight: 200;
    color: white; }
    #nav-bar #nav-command:last-child {
      margin-right: 0; }
    #nav-bar #nav-command span {
      background: white;
      padding: .5rem;
      margin-left: .25rem;
      border: 1px dotted #eb008b;
      color: #eb008b;
      font-size: 1.2rem;
      transition: all 1s; }
      @media screen and (max-width: 1200px) {
        #nav-bar #nav-command span {
          font-size: 1rem; } }
      @media screen and (max-width: 800px) {
        #nav-bar #nav-command span {
          display: none; } }
    #nav-bar #nav-command span:hover, #nav-bar #nav-command span:focus, #nav-bar #nav-command span:active {
      padding: .5rem;
      color: #eb008b;
      border: 1px dotted #eb008b;
      background: white; }
    #nav-bar #nav-command span:last-child {
      margin-right: 1rem; }

#nav-secondary-command {
  width: 100%;
  text-align: right;
  position: fixed;
  top: 4.5rem;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  z-index: 5500; }
  @media screen and (max-width: 800px) {
    #nav-secondary-command {
      display: none; } }
  #nav-secondary-command .nav-list {
    display: none;
    margin-right: .5rem;
    color: #eb008b; }
    #nav-secondary-command .nav-list div {
      padding: .3rem 0;
      margin: .5rem; }
      #nav-secondary-command .nav-list div span {
        padding: .4rem;
        border: 1px dotted #eb008b;
        background-color: rgba(255, 255, 255, 0.75); }
      #nav-secondary-command .nav-list div span:hover, #nav-secondary-command .nav-list div span:focus, #nav-secondary-command .nav-list div span:active {
        border: 1px dotted black;
        background: white; }
  #nav-secondary-command #about-list {
    margin-right: 7.8rem; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: Roboto;
  background-image: url(../images/background/yellow-01.png); }

#videobg-container video#videobg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/video/SMMC3promo.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity; }

.vid-controller {
  z-index: 9999; }

.hidden {
  display: none; }

#main-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: absolute;
  top: 6rem; }
  #main-container:last-child {
    margin-right: 0; }
  #main-container #blurb-sub {
    margin-left: 17.05961%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    display: none;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    color: black; }
    #main-container #blurb-sub:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1000px) {
      #main-container #blurb-sub {
        display: block; } }
    @media screen and (max-width: 800px) {
      #main-container #blurb-sub {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #main-container #blurb-sub:last-child {
          margin-right: 0; } }
    #main-container #blurb-sub span {
      background-color: rgba(255, 255, 255, 0.7);
      line-height: 1.5rem;
      padding: .1rem; }
  #main-container #page-content {
    position: absolute;
    height: auto;
    width: 70%;
    margin-top: 1rem;
    margin-left: 15%;
    margin-bottom: 6rem;
    transition: all .5s; }
    @media screen and (max-width: 1000px) {
      #main-container #page-content {
        margin-top: 4rem; } }
    @media screen and (max-width: 800px) {
      #main-container #page-content {
        width: 92%;
        margin-left: 4%; } }
    @media screen and (max-width: 600px) {
      #main-container #page-content {
        margin-top: 5.5rem; } }

#sponsors {
  position: absolute;
  top: 10.5rem;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 15%; }
  @media screen and (max-width: 800px) {
    #sponsors {
      display: none; } }
  #sponsors a {
    min-width: 100px;
    max-width: 170px;
    margin: 1rem auto 0rem auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    #sponsors a span {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem; }
    #sponsors a img {
      width: 100%;
      padding: .5rem;
      margin-top: -1rem;
      transition: all .5s; }
    #sponsors a img:hover, #sponsors a img:focus, #sponsors a img:active {
      padding: 0; }

#s-logo {
  position: fixed;
  top: 10.5rem;
  right: -1rem;
  width: 100%;
  z-index: -5000; }
  #s-logo img {
    width: 12%;
    min-width: 8rem; }

.after-thing {
  margin-top: 2rem; }

.after-thing-sub {
  margin-top: 3rem; }

.page-head {
  width: 100%;
  padding: 0;
  margin: 0; }
  .page-head #home-info {
    text-align: justify;
    margin-bottom: 1.5rem; }
    .page-head #home-info span {
      font-size: 1.2rem;
      font-weight: 700;
      transition: all .5s;
      background-color: rgba(255, 255, 255, 0.7); }
      @media screen and (max-width: 800px) {
        .page-head #home-info span {
          font-size: .9rem; } }

#videosm-container {
  width: 100%;
  height: auto;
  text-align: center; }
  #videosm-container video#videosm {
    width: 80%;
    height: 100%; }
    @media screen and (max-width: 800px) {
      #videosm-container video#videosm {
        width: 100%;
        height: 100%; } }

.page-titles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .page-titles:last-child {
    margin-right: 0; }
  .page-titles .profile-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .page-titles .profile-image:last-child {
      margin-right: 0; }
    .page-titles .profile-image img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 3px solid yellow;
      background-color: white; }
      .page-titles .profile-image img:last-child {
        margin-right: 0; }
  .page-titles .profile-info {
    margin-top: 2.5rem; }
  .page-titles .crae-text {
    font-family: "polya-webfont";
    font-size: 2rem; }
  .page-titles iframe {
    margin-left: 51.17883%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    height: auto 0;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .page-titles iframe:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .page-titles iframe {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .page-titles iframe:last-child {
          margin-right: 0; } }
  .page-titles h1 {
    margin-top: -2rem;
    color: #eb008b; }
    @media screen and (max-width: 800px) {
      .page-titles h1 {
        background-color: rgba(255, 255, 255, 0.7); } }
  .page-titles h2 {
    color: #eb008b; }
  .page-titles ul {
    padding: 1rem; }
    .page-titles ul li {
      padding-bottom: .5rem; }
  .page-titles span {
    font-size: 1.2rem;
    font-weight: 200; }
  .page-titles table {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0rem .5rem;
    border: 1px solid #eb008b;
    background-color: white; }
    .page-titles table th {
      border-bottom: 1px solid #eb008b;
      border-top: 1px solid #eb008b;
      text-align: left;
      padding: .5rem; }
    .page-titles table td {
      border-bottom: 1px solid #eb008b;
      border-top: 1px solid #eb008b; }
  .page-titles a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    color: black; }
    .page-titles a:last-child {
      margin-right: 0; }
    .page-titles a .sponsorpage-imgs {
      display: block;
      margin-top: 2rem; }
      .page-titles a .sponsorpage-imgs::after {
        clear: both;
        content: "";
        display: block; }
      .page-titles a .sponsorpage-imgs img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .page-titles a .sponsorpage-imgs img:last-child {
          margin-right: 0; }

.box {
  padding: .85rem;
  border: 0.15rem solid yellow;
  background-color: white; }
  .box span {
    line-height: 1.4rem; }

#the-jurors span {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.0556%;
  margin-top: 1rem;
  background-color: #eb008b;
  background-size: 100%;
  background-repeat: repeat;
  transition: all 1s; }
  #the-jurors span:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    #the-jurors span {
      margin-left: 12.79471%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      #the-jurors span:last-child {
        margin-right: 0; } }
  #the-jurors span a {
    height: 100%;
    width: 80%; }
    #the-jurors span a img {
      opacity: 1;
      width: 100%;
      border: 1px solid #eb008b;
      transition: all .5s; }
    #the-jurors span a img:hover {
      opacity: 0.6; }
    #the-jurors span a h3 {
      background-color: #eb008b;
      margin-top: -4px;
      color: white;
      font-weight: 700;
      padding: .25rem;
      width: 0%; }
  #the-jurors span a:hover img {
    opacity: 0.6; }
  #the-jurors span a:hover h3 {
    text-decoration: line-through; }

.press-container {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0; }
  .press-container .year {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    font-size: 2rem;
    font-weight: 400; }
    .press-container .year:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .year {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .press-container .year:last-child {
          margin-right: 0; } }
  .press-container .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    font-size: 1.6rem;
    color: #eb008b; }
    .press-container .title:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .title {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .press-container .title:last-child {
          margin-right: 0; } }
  .press-container .news-article {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-bottom: 1.4rem; }
    .press-container .news-article:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .news-article {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .press-container .news-article:last-child {
          margin-right: 0; } }

.sched-containers {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: none; }
  .sched-containers .map-images {
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 700px) {
      .sched-containers .map-images {
        height: 275px; } }
  .sched-containers img {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .sched-containers img:last-child {
      margin-right: 0; }
  .sched-containers img:last-child {
    margin-top: 1rem;
    height: auto;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .sched-containers img:last-child:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers img:last-child {
        margin-left: 8.5298%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        .sched-containers img:last-child:last-child {
          margin-right: 0; } }
  .sched-containers .time {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-family: "polya-webfont";
    color: yellow;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: -.7rem; }
    .sched-containers .time:last-child {
      margin-right: 0; }
  .sched-containers .place {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-size: 1.6rem;
    font-weight: 400; }
    .sched-containers .place:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .place {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .place:last-child {
          margin-right: 0; } }
  .sched-containers .place-cc {
    width: 100%;
    height: 1.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #eb008b;
    color: white; }
  .sched-containers .event {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    font-size: 1.6rem;
    color: #eb008b; }
    .sched-containers .event:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .event {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .event:last-child {
          margin-right: 0; } }
  .sched-containers .event-last {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 25.58941%;
    font-size: 1.6rem; }
    .sched-containers .event-last:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .event-last {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .event-last:last-child {
          margin-right: 0; } }
  .sched-containers .about-event {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-bottom: 1.4rem; }
    .sched-containers .about-event:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .about-event {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .about-event:last-child {
          margin-right: 0; } }

/*# sourceMappingURL=../maps/main.css.map */
