html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "polya-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/polya-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/polya-webfont.woff2") format("woff2"), url("/fonts/polya-webfont.woff") format("woff"), url("/fonts/polya-webfont.ttf") format("truetype"), url("/fonts/polya-webfont.svg#polya-webfont") format("svg"); }

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  z-index: 5000;
  height: 5rem;
  width: 100%;
  background-color: yellow; }
  #nav-bar #logo-banner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-family: "polya-webfont";
    font-size: 3.3rem;
    color: #eb008b;
    margin-left: 2rem;
    text-shadow: -4px 4px white;
    transition: all 1s; }
    #nav-bar #logo-banner:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #nav-bar #logo-banner {
        font-size: 2rem; }
        #nav-bar #logo-banner:hover, #nav-bar #logo-banner:focus, #nav-bar #logo-banner:active {
          color: black;
          text-shadow: -4px 4px #eb008b;
          font-size: 2.1rem; } }
    #nav-bar #logo-banner:hover, #nav-bar #logo-banner:focus, #nav-bar #logo-banner:active {
      color: black;
      text-shadow: -4px 4px #eb008b; }
  #nav-bar #blurb {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    display: none;
    color: black; }
    #nav-bar #blurb:last-child {
      margin-right: 0; }
    @media screen and (min-width: 1000px) {
      #nav-bar #blurb {
        display: block; } }
    #nav-bar #blurb span {
      background-color: white;
      line-height: 1.5rem;
      padding: .1rem; }
  #nav-bar #nav-command {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    font-size: 1.2rem;
    font-weight: 200; }
    #nav-bar #nav-command:last-child {
      margin-right: 0; }
    #nav-bar #nav-command span {
      padding: .5rem;
      margin-left: .25rem;
      color: #eb008b;
      text-shadow: -2px 2px white;
      font-size: 1.2rem;
      transition: all .5s; }
      @media screen and (max-width: 1200px) {
        #nav-bar #nav-command span {
          font-size: 1rem; } }
      @media screen and (max-width: 800px) {
        #nav-bar #nav-command span {
          display: none; } }
      #nav-bar #nav-command span:hover, #nav-bar #nav-command span:focus, #nav-bar #nav-command span:active {
        padding: .5rem;
        color: black;
        text-shadow: -2px 2px #eb008b; }

#hamburger-icon {
  width: 40px;
  height: 25px;
  position: relative;
  z-index: 9999;
  margin-right: 2rem;
  display: none; }
  @media screen and (max-width: 800px) {
    #hamburger-icon {
      display: block; } }
  #hamburger-icon .line {
    display: block;
    background: #eb008b;
    width: 40px;
    height: 8px;
    position: absolute;
    left: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
    #hamburger-icon .line.line-1 {
      box-shadow: -4px 4px white;
      top: 0; }
    #hamburger-icon .line.line-2 {
      box-shadow: -4px 4px white;
      top: 50%; }
    #hamburger-icon .line.line-3 {
      box-shadow: -4px 4px white;
      top: 100%; }
  #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px); }
  #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px); }
  #hamburger-icon.active {
    box-shadow: none; }
    #hamburger-icon.active .line-1 {
      box-shadow: -4px 4px rgba(255, 255, 255, 0);
      transform: translateY(12.5px) translateX(0) rotate(45deg);
      -webkit-transform: translateY(12.5px) translateX(0) rotate(45deg);
      -moz-transform: translateY(12.5px) translateX(0) rotate(45deg); }
    #hamburger-icon.active .line-2 {
      opacity: 0; }
    #hamburger-icon.active .line-3 {
      box-shadow: -4px 4px rgba(255, 255, 255, 0);
      transform: translateY(-12.5px) translateX(0) rotate(-45deg);
      -webkit-transform: translateY(-12.5px) translateX(0) rotate(-45deg);
      -moz-transform: translateY(-12.5px) translateX(0) rotate(-45deg); }

#nav-secondary-command {
  width: 100%;
  text-align: right;
  position: fixed;
  top: 4.5rem;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  z-index: 5500;
  font-weight: 200;
  font-style: italic; }
  @media screen and (max-width: 800px) {
    #nav-secondary-command {
      display: none; } }
  #nav-secondary-command .nav-list {
    display: none;
    margin-right: 1.2rem;
    color: black; }
    #nav-secondary-command .nav-list div {
      padding: .3rem 0;
      margin: .75rem; }
      #nav-secondary-command .nav-list div span {
        padding: .4rem;
        border: 2px solid white;
        background: rgba(255, 255, 0, 0.75);
        transition: all 1s; }
        #nav-secondary-command .nav-list div span:hover, #nav-secondary-command .nav-list div span:focus, #nav-secondary-command .nav-list div span:active {
          border: 2px dotted #424242;
          background-color: yellow; }
  #nav-secondary-command #about-list {
    margin-right: 8.5rem; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: -9999;
  /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */ }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */ }
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal .close:hover, .modal .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: Roboto;
  background-image: url(../images/background/yellow-01.png); }

#videobg-container video#videobg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 8888;
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/video/SMMC3promo.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity; }

.vid-controller {
  display: none;
  z-index: 8889;
  position: fixed;
  top: 2rem;
  right: 2rem; }
  .vid-controller span {
    background: white;
    padding: .5rem;
    margin-left: .25rem;
    border: 1px dotted #eb008b;
    color: #eb008b;
    font-size: 1.2rem;
    transition: all 1s; }
    @media screen and (max-width: 1200px) {
      .vid-controller span {
        font-size: 1rem; } }
    @media screen and (max-width: 800px) {
      .vid-controller span {
        display: none; } }
  .vid-controller span:hover, .vid-controller span:focus, .vid-controller span:active {
    padding: .5rem;
    color: #eb008b;
    border: 1px dotted #eb008b;
    background: yellow; }

.hidden {
  display: none; }

#main-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: absolute;
  top: 6rem; }
  #main-container:last-child {
    margin-right: 0; }
  #main-container #blurb-sub {
    margin-left: 17.05961%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    display: none;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    color: black; }
    #main-container #blurb-sub:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1000px) {
      #main-container #blurb-sub {
        display: block; } }
    @media screen and (max-width: 800px) {
      #main-container #blurb-sub {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #main-container #blurb-sub:last-child {
          margin-right: 0; } }
    #main-container #blurb-sub span {
      background-color: rgba(255, 255, 255, 0.7);
      line-height: 1.5rem;
      padding: .1rem; }
  #main-container #page-content {
    position: absolute;
    height: auto;
    width: 70%;
    margin-top: 1rem;
    margin-left: 15%;
    margin-bottom: 6rem;
    transition: all .5s; }
    @media screen and (max-width: 1000px) {
      #main-container #page-content {
        margin-top: 4rem; } }
    @media screen and (max-width: 900px) {
      #main-container #page-content {
        width: 92%;
        margin-left: 4%; } }
    @media screen and (max-width: 600px) {
      #main-container #page-content {
        margin-top: 5.5rem; } }

#sponsors {
  position: absolute;
  top: 10.5rem;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 15%; }
  @media screen and (max-width: 900px) {
    #sponsors {
      display: none; } }
  #sponsors a {
    min-width: 100px;
    max-width: 170px;
    margin: 1rem auto 0rem auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    #sponsors a span {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem; }
    #sponsors a img {
      width: 90%;
      padding: 1rem 0rem;
      border: transparent 2px solid;
      transition: all .5s; }
    #sponsors a img:hover, #sponsors a img:focus, #sponsors a img:active {
      background-color: rgba(255, 255, 255, 0.7);
      border: yellow 2px solid; }

#s-logo {
  position: fixed;
  top: 6.5rem;
  right: -1rem;
  width: 100%;
  z-index: -5000; }
  #s-logo img {
    width: 18%; }

#social-contact {
  position: absolute;
  bottom: -10rem;
  width: 10%;
  left: 1%;
  z-index: 4000;
  flex-direction: column;
  text-align: center;
  height: auto; }
  @media screen and (max-width: 900px) {
    #social-contact {
      display: none; } }
  #social-contact .tickets {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; }
    #social-contact .tickets span {
      background-color: rgba(255, 255, 0, 0.5);
      padding: .5rem; }
      #social-contact .tickets span #tix-logo {
        background-image: url(../images/logos/social-pnk-06.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 88%;
        background-color: white;
        border-radius: 100%;
        border: dotted 1px #eb008b;
        width: 75px;
        height: 75px;
        transition: all 1s;
        margin-left: 7%; }
        #social-contact .tickets span #tix-logo:hover, #social-contact .tickets span #tix-logo:active, #social-contact .tickets span #tix-logo:focus {
          background-size: 110%;
          background-image: url(../images/logos/social-wht-06.png);
          background-color: #eb008b; }
  #social-contact #social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 100%; }
    #social-contact #social-links #fb-logo {
      background-image: url(../images/logos/social-pnk-02.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      background-color: white;
      border-radius: 100%;
      border: solid 3px #eb008b;
      width: 50px;
      height: 50px;
      transition: all 1s; }
      #social-contact #social-links #fb-logo:hover, #social-contact #social-links #fb-logo:active, #social-contact #social-links #fb-logo:focus {
        background-size: 95%;
        background-color: #eb008b;
        background-image: url(../images/logos/social-wht-02.png); }
    #social-contact #social-links #v-logo {
      background-image: url(../images/logos/social-pnk-01.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      background-color: white;
      border-radius: 100%;
      border: solid 3px #eb008b;
      width: 50px;
      height: 50px;
      transition: all 1s; }
      #social-contact #social-links #v-logo:hover, #social-contact #social-links #v-logo:active, #social-contact #social-links #v-logo:focus {
        background-size: 85%;
        background-color: #eb008b;
        background-image: url(../images/logos/social-wht-01.png); }

.contact-download {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .contact-download #myBtn {
    background-image: url(../images/logos/social-pnk-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border: solid 3px #eb008b;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: all 1s; }
    .contact-download #myBtn:hover, .contact-download #myBtn:active, .contact-download #myBtn:focus {
      background-size: 85%;
      background-color: #eb008b;
      background-image: url(../images/logos/social-wht-03.png); }

#dl-content {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #dl-content a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1rem;
    width: 100%;
    margin: 0;
    padding: 0; }
    #dl-content a #view-pdf {
      border-radius: 100%;
      border: solid black 2.5px;
      background-image: url(../images/logos/social-blk-05.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 85%;
      width: 35px;
      height: 35px;
      background-color: white;
      transition: all 1s; }
      #dl-content a #view-pdf:hover, #dl-content a #view-pdf:active, #dl-content a #view-pdf:focus {
        background-size: 95%;
        background-color: yellow; }
    #dl-content a #dl-pdf {
      border-radius: 100%;
      border: solid black 2.5px;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/logos/social-blk-04.png);
      background-size: 85%;
      width: 35px;
      height: 35px;
      transition: all 1s; }
      #dl-content a #dl-pdf:hover, #dl-content a #dl-pdf:active, #dl-content a #dl-pdf:focus {
        background-size: 95%;
        background-color: yellow; }

.after-thing {
  margin-top: 2rem; }

.after-thing-sub {
  margin-top: 3rem; }

.page-head {
  width: 100%;
  padding: 0;
  margin: 0; }
  .page-head #home-info {
    text-align: justify;
    margin-bottom: 1.5rem; }
    .page-head #home-info span {
      font-size: 1.2rem;
      font-weight: 700;
      transition: all .5s;
      background-color: rgba(255, 255, 255, 0.7); }
      @media screen and (max-width: 800px) {
        .page-head #home-info span {
          font-size: .9rem; } }

#videosm-container {
  width: 100%;
  height: auto;
  text-align: center; }
  #videosm-container video#videosm {
    width: 80%;
    height: 100%; }
    @media screen and (max-width: 800px) {
      #videosm-container video#videosm {
        width: 100%;
        height: 100%; } }

.page-titles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .page-titles:last-child {
    margin-right: 0; }
  .page-titles .profile-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .page-titles .profile-image:last-child {
      margin-right: 0; }
    .page-titles .profile-image img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 3px solid yellow;
      background-color: white; }
      .page-titles .profile-image img:last-child {
        margin-right: 0; }
  .page-titles .profile-info {
    margin-top: 2.5rem; }
  .page-titles .crae-text {
    font-family: "polya-webfont";
    font-size: 2rem; }
  .page-titles iframe {
    margin-left: 51.17883%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    height: auto 0;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .page-titles iframe:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .page-titles iframe {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .page-titles iframe:last-child {
          margin-right: 0; } }
  .page-titles h1 {
    margin-top: -2rem;
    color: #424242;
    text-shadow: -4px 4px yellow; }
  .page-titles h2 {
    color: #eb008b;
    text-shadow: -2px 2px yellow; }
  .page-titles ul {
    padding: 1rem; }
    .page-titles ul li {
      padding-bottom: .5rem; }
  .page-titles span {
    font-size: 1.2rem;
    font-weight: 200; }
  .page-titles table {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0rem .5rem;
    border: 1px solid #eb008b;
    background-color: white; }
    .page-titles table th {
      border-bottom: 1px solid #eb008b;
      border-top: 1px solid #eb008b;
      text-align: left;
      padding: .5rem; }
    .page-titles table td {
      border-bottom: 1px solid #eb008b;
      border-top: 1px solid #eb008b; }
  .page-titles a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    color: black; }
    .page-titles a:last-child {
      margin-right: 0; }
    .page-titles a .sponsorpage-imgs {
      display: block;
      margin-top: 2rem; }
      .page-titles a .sponsorpage-imgs::after {
        clear: both;
        content: "";
        display: block; }
      .page-titles a .sponsorpage-imgs img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .page-titles a .sponsorpage-imgs img:last-child {
          margin-right: 0; }

.box {
  padding: .85rem;
  border: 0.15rem solid yellow;
  background-color: white; }
  .box span {
    line-height: 1.4rem; }

#the-jurors span {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.0556%;
  margin-top: 1rem;
  background-color: #eb008b;
  background-size: 100%;
  background-repeat: repeat;
  transition: all 1s;
  height: 100%; }
  #the-jurors span:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    #the-jurors span {
      margin-left: 12.79471%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      #the-jurors span:last-child {
        margin-right: 0; } }
  #the-jurors span img {
    opacity: 1;
    width: 100%;
    border: 1px solid #eb008b;
    transition: all .5s; }
  #the-jurors span h3 {
    background-color: #eb008b;
    margin-top: -4px;
    color: yellow;
    text-shadow: -2px 2px black;
    font-weight: 700;
    padding: .25rem;
    width: 0%;
    transition: all .5s; }
  #the-jurors span:hover img {
    opacity: 0.6; }
  #the-jurors span:hover h3 {
    color: white;
    text-shadow: -2px 2px black; }

.press-container {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0; }
  .press-container .year {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    font-size: 2rem;
    font-weight: 400; }
    .press-container .year:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .year {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .press-container .year:last-child {
          margin-right: 0; } }
  .press-container .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    font-size: 1.6rem;
    color: #eb008b; }
    .press-container .title:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .title {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .press-container .title:last-child {
          margin-right: 0; } }
  .press-container .news-article {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-bottom: 1.4rem; }
    .press-container .news-article:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .press-container .news-article {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .press-container .news-article:last-child {
          margin-right: 0; } }

.sched-containers {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: none; }
  .sched-containers .map-images {
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 700px) {
      .sched-containers .map-images {
        height: 275px; } }
  .sched-containers img {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .sched-containers img:last-child {
      margin-right: 0; }
  .sched-containers img:last-child {
    margin-top: 1rem;
    height: auto;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .sched-containers img:last-child:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers img:last-child {
        margin-left: 8.5298%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        .sched-containers img:last-child:last-child {
          margin-right: 0; } }
  .sched-containers .time {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-family: "polya-webfont";
    color: #eb008b;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: -.7rem; }
    .sched-containers .time:last-child {
      margin-right: 0; }
  .sched-containers .place {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-size: 1.6rem;
    font-weight: 400; }
    .sched-containers .place:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .place {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .place:last-child {
          margin-right: 0; } }
  .sched-containers .place-cc {
    width: 100%;
    height: 1.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #eb008b;
    color: white; }
  .sched-containers .event {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    font-size: 1.6rem;
    color: #eb008b; }
    .sched-containers .event:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .event {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .event:last-child {
          margin-right: 0; } }
  .sched-containers .event-last {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 25.58941%;
    font-size: 1.6rem; }
    .sched-containers .event-last:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .event-last {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .event-last:last-child {
          margin-right: 0; } }
  .sched-containers .about-event {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-bottom: 1.4rem; }
    .sched-containers .about-event:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      .sched-containers .about-event {
        margin-left: 4.2649%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        .sched-containers .about-event:last-child {
          margin-right: 0; } }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .card .card-image {
    background-image: url(http://prashantsani.com/Misc/codepen/noise.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    -webkit-animation: noiseAnim 0.5s infinite linear alternate;
    -moz-animation: noiseAnim 0.5s infinite linear alternate;
    -o-animation: noiseAnim 0.5s infinite linear alternate;
    animation: noiseAnim 0.5s infinite linear alternate;
    height: 98%;
    height: 150px;
    max-height: 150px;
    overflow: hidden; }
    .card .card-image img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%; }
  .card .card-header {
    background-color: white;
    color: #eb008b;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1rem;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f6f6f6; }
    .card:active .card-header {
      background-color: #f6f6f6;
      font-size: 1.8rem; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: .75rem;
  color: #eb008b;
  z-index: -9990; }

@-webkit-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }

@-moz-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }

@-o-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }

@keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }

@keyframes slideDash {
  from {
    transform: rotate(360deg); }
  to {
    transform: roatate(0deg); } }

/*# sourceMappingURL=../maps/main.css.map */
