/* add custom styles */
@font-face {
    font-family: 'polya_regularregular';
    src: url('../fonts/polya-webfont.eot');
    src: url('../fonts/polya-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/polya-webfont.woff2') format('woff2'),
         url('../fonts/polya-webfont.woff') format('woff'),
         url('../fonts/polya-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('../fonts/HelveticaNeueLTStd-Bd.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStd-Bd.svg#Conv_HelveticaNeueLTStd-Bd') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
    src: url('../fonts/HelveticaNeueLTStd-Roman.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
}
@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('../fonts/Gotham-UltraItalic.eot');
    src: url('../fonts/Gotham-UltraItalic.eot') format('embedded-opentype'),
         url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
         url('../fonts/Gotham-UltraItalic.woff') format('woff'),
         url('../fonts/Gotham-UltraItalic.ttf') format('truetype'),
         url('../fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
}
body{
  /*background-color: grey;*/
}
/* NAVBAR */
.navbar {
    border-radius: 0;
    border-bottom-color: #f90c97;
    background-color: white;
    font-family:  'HelveticaNeueLTStd-Bd';
}
.navbar-nav > li > a {
    line-height: 30px;
    height: 61px;
}
.navbar-brand {
    font-family: 'polya_regularregular';
    float: left;
    height: 61px;
    padding: 25px 15px 0 15px;
    font-size: 40px;
    line-height: 10px;
    background-color: white;
}
.navbar-default .navbar-brand {
    color: #f90c97;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    background-color: #f90c97;
}
@media(min-width: 350px){
    .navbar-brand {
            font-family: 'polya_regularregular';
            float: left;
            height: 61px;
            /*padding: 25px 15px 0 15px;*/
            font-size: 36px;
            line-height: 10px;
            background-color: white;
    }
}


.navbar-default .navbar-nav>li>a {
    color: #f90c97;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #f90c97;
}
@media(max-width: 1154px){
    #blurb {
        display: none;
    }
}
#blurb {
    background-color: #f90c97;
    color: white;
    font-size: 13px;
    width: 650px;
    height: 61px;
    text-align: center;
}
#blurb, p {
    padding: 7px;
    line-height: 1.5;
}
#blurb-area{
    font-family: 'HelveticaNeueLTStd-Bd';
    color: white;
    text-align: center;
    background-color: #f90c97;
    margin-top: -20px;
}
#blurb-area, p{
    font-family: 'HelveticaNeueLTStd-Bd';
}
@media(min-width: 1154px){
    #blurb-area{
        display: none;
    }

}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #f90c97;
}

.dropdown-menu {
    border-radius: 0;
    border-color: #f90c97;
    box-shadow: none;
}

.dropdown-menu>li>a {
    color: #f90c97;
    background-color: white;
}

.dropdown-menu>li>a:hover{
    color: white;
    background-color: #f90c97;
}
.navbar-default .navbar-collapse {
    border-color: #f90c97;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f90c97;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
    background-color: #f90c97;
    color: white;
}
/* END NAVBAR */

.navbar-default .navbar-toggle{
    border: none;
    padding: 24px;
    margin: 0 0 0 -5px;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#f90c97;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border-radius: 0;
}
/*NAVBAR ANIMATION*/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:focus,
.navbar-toggle:hover {
  background: #f90c97 !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.5s;
  margin-left: 2px;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/*END NAVBAR ANIMATION*/

/* FOLLOW US */
@media (min-width: 1154px) {
  #footer-social {
    display: none;
  }
}
#footer-social{
  color: #f90c97;
  border: none;
  background-color: transparent;
  margin-bottom: 15px;
}
@media (max-width: 1154px) {
  #contact-the-d{
    display: none;
  }
  #follow-the-d{
    display: none;
  }
}

#contact-the-d{
width: 175px;
}
#follow-the-d{
width: 175px;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page-info {
  background-color: white;
  color: #f90c97;
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}
@media (max-width: 1154px) {
  #page-info {
    padding: 20px;
    /*margin-bottom: 10px;*/
  }
}
