@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'stuff';
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
body{
	font-family: Roboto;
	// background-image: url(../images/background/blue-01.png);
}

video#videobg {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('../images/video/SMMC3promo.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
//*********************************
// Video controls   ***************
//*********************************
.vid-controller {
	z-index: 9999;
}

.hidden {
	display: none;
}
#main-container{
	width: 100%;
	position: absolute;
	top: 5.1rem;
	#blurb-sub {
		@include shift(1);
		@include span-columns(10);
		display: none;
		text-align: center;
		font-weight: 700;
		font-size: 1rem;
		color: $color-pink;
		@include media(max-width 1297px){
			display: block;
		}
		span{
			background-color: rgba(255,255,255,0.7);
			line-height: 1.5rem;
			padding: .1rem;
		}
	}
	#page-content{
		position: absolute;
		height:120vh;
		width: 70%;
		margin-top: 4rem;
		margin-left: 15%;
		margin-bottom: 6rem;
		// background-color: rgba(255,255,255,0.7);
	}
}
#sponsors{
	@include position(fixed, null null 0 0);
	@include display(flex);
	@include align-items(flex-end);
	@include flex-direction(column);
	width: 100%;
	@include media(max-width 800px){
		display: none;
	}
	span{
		font-size: 1.2rem;
		width: 130px;
		text-align: center;
		margin-bottom: 1rem;

	}
	a{
		width: 130px;
		text-align: center;
		height: 100%;
		margin-bottom: 1rem;
		img{
			width: 100%;
			padding: .5rem;
			min-width: 120px;
			margin-top: -1rem;
			transition: all .5s;
		}
		img:hover, img:focus, img:active {
			padding: 0;
		}
	}
}
#social-contact{
	@include position(fixed, 5.5rem -1rem null null);
	width: 100%;
	z-index: -5000;
	img{
		width: 12%;
		min-width: 8rem;
	}

}
