@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'stuff';
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
body{
	font-family: Roboto;
	background-image: url(../images/background/yellow-01.png);
}
#videobg-container{
	video#videobg {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background: url('../images/video/SMMC3promo.jpg') no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}

}
//*********************************
// Video controls   ***************
//*********************************
.vid-controller {
	z-index: 9999;
}

.hidden {
	display: none;
}
#main-container{
	@include span-columns(12);
	position: absolute;
	top: 6rem;
	#blurb-sub {
		@include shift(2);
		@include span-columns(8);
		display: none;
		text-align: center;
		font-weight: 200;
		font-size: 1rem;
		color: black;
		@include media(max-width 1000px){
			display: block;
		}
		@include media(max-width 800px){
			@include shift(0);
			@include span-columns(12);
		}
		span{
			background-color: rgba(255,255,255,0.7);
			line-height: 1.5rem;
			padding: .1rem;
		}
	}
	#page-content{
		position: absolute;
		height: auto;
		width: 70%;
		margin-top: 1rem;
		margin-left: 15%;
		margin-bottom: 6rem;
		transition: all .5s;
		@include media(max-width 1000px){
			margin-top: 4rem;
		}
		@include media(max-width 800px){
			width: 92%;
			margin-left: 4%;
		}
		@include media(max-width 600px){
			margin-top: 5.5rem;
		}
	}
}
#sponsors{
	@include position(absolute, 10.5rem 0 null null);
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	width: 15%;
	@include media(max-width 800px){
		display: none;
	}
	a{
		min-width: 100px;
		max-width: 170px;
		margin: 1rem auto 0rem auto;
		@include display(flex);
		@include align-items(flex-end);
		align-items: center;
		@include flex-direction(column);
		span {
			font-size: 1.2rem;
			text-align: center;
			margin-bottom: 1rem;
		}
		img {
			width: 100%;
			padding: .5rem;
			margin-top: -1rem;
			transition: all .5s;
		}
		img:hover, img:focus, img:active {
			padding: 0;
		}
	}
}
#s-logo{
	@include position(fixed, 10.5rem -1rem null null);
	width: 100%;
	z-index: -5000;
	img{
		width: 12%;
		min-width: 8rem;
	}
}
// ********************************************* //
// PAGES - PAGES - PAGES - PAGES - PAGES - PAGES //
// ********************************************* //
.after-thing{
	margin-top: 2rem;
}
.after-thing-sub{
	margin-top: 3rem;
}
.page-head{
	width: 100%;
	padding: 0;
	margin: 0;
	#home-info{
		text-align: justify;
		margin-bottom: 1.5rem;
		span{
			font-size: 1.2rem;
			font-weight: 700;
			transition: all .5s;
			background-color: rgba(255, 255, 255, 0.7);
			@include media(max-width 800px){
				font-size: .9rem;
			}
		}
	}
}

#videosm-container {
	width: 100%;
	height: auto;
	text-align: center;
	video#videosm{
		width: 80%;
		height: 100%;
		@include media(max-width 800px){
			width: 100%;
			height:100%;
		}
	}
}

.page-titles {
	@include span-columns(12);
	.profile-image{
		@include span-columns(3);
		img{
			@include span-columns(12);
			border: 3px solid $color-yellow;
			background-color: white;
		}
	}
	.profile-info{
		margin-top: 2.5rem;
	}
	.crae-text{
		font-family: "polya-webfont";
		font-size: 2rem;
	}
	iframe{
		@include shift(6);
		@include span-columns(5);
		height:  auto 0;
		margin-top: 1rem;
		margin-bottom: 2rem;
		@include media(max-width 800px){
			@include shift(0);
			@include span-columns(12);
		}
	}
	h1{
		margin-top: -2rem;
		color: $color-pink;
		@include media(max-width 800px){
			background-color: rgba(255,255,255,.7);
		}
	}
	h2{
		color: $color-pink;
	}
	p{
	}
	ul {
		padding: 1rem;
		li{
			padding-bottom: .5rem;
		}
	}
	span {
		font-size: 1.2rem;
		font-weight: 200;
	}
	table{
		margin-top: 1rem;
		width: 100%;
		text-align: center;
		padding: 0rem .5rem;
			border: 1px solid $color-pink;
			background-color: white;
		th{
			border-bottom: 1px solid $color-pink;
			border-top: 1px solid $color-pink;
			text-align: left;
			padding: .5rem;
		}
		td{
			border-bottom: 1px solid $color-pink;
			border-top: 1px solid $color-pink;
		}
	}
	a {
		@include span-columns(12);
		color: black;
		.sponsorpage-imgs{
			@include row;
			margin-top: 2rem;
			img{
				@include span-columns(5);
			}
		}
	}
}

.box{
	padding: .85rem;
	border: .15rem solid $color-yellow;
	background-color: white;
	span{

		line-height: 1.4rem;
	}
}

#the-jurors{
	span{
		@include span-columns(3.8);
		margin-top: 1rem;
		background-color: $color-pink;
		background-size: 100%;
		background-repeat: repeat;
		transition: all 1s;
		@include media(max-width 800px){
			@include shift(1.5);
			@include span-columns(9);
		}
		a{
			height: 100%;
			width: 80%;
				img{
					// @include filter(grayscale(0%));
					opacity: 1;
					width: 100%;
					border: 1px solid $color-pink;
					transition: all .5s;
				}
				img:hover {
					opacity: 0.6;
				}
				h3{
					background-color: $color-pink;
					margin-top: -4px;
					color: white;
					font-weight: 700;
					padding: .25rem;
					width: 0%;
				}

		}
		a:hover{
			img{
				opacity: 0.6;
			}
			h3{
				text-decoration: line-through;
			}
		}
	}
}
.press-container {
	width: 100%;
	height: inherit;
	margin: 0;
	padding: 0;
	.year{
		@include span-columns(2);
		font-size: 2rem;
		font-weight: 400;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
	.title{
		@include span-columns(10);
		font-size: 1.6rem;
		color: $color-pink;
		@include media(max-width 800px){
			@include span-columns(12);
		}
	}
	.news-article{
		@include shift(3);
		@include span-columns(9);
		margin-bottom: 1.4rem;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
}
.sched-containers {
	width: 100%;
	height: inherit;
	margin: 0;
	padding: 0;
	display: none;

	.map-images{
		width:100%;
		height:450px;
		padding: 0;
		margin: 0;
		@include media(max-width 700px){
			height:275px;
		}
	}
	img{
		@include shift(1);
		@include span-columns(10);
	}
	img:last-child{
		margin-top: 1rem;
		height:auto;
		@include shift(1);
		@include span-columns(8);
		@include media(max-width 800px){
			@include shift(1);
			@include span-columns(10);
		}
	}
	.time {
		@include span-columns(12);
		font-family: "polya-webfont";
		color: $color-yellow;
		font-size: 4rem;
		font-weight: 200;
		margin-bottom: -.7rem;
	}
	.place{
		@include span-columns(3);
		font-size: 1.6rem;
		font-weight: 400;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
	.place-cc{
		width: 100%;
		height: 1.8rem;
		font-size: 1.6rem;
		font-weight: 400;
		background-color: $color-pink;
		color: white;
		// margin-bottom: 20rem;
	}
	.event{
		@include span-columns(9);
		font-size: 1.6rem;
		color: $color-pink;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
	.event-last{
		@include span-columns(9);
		@include shift(3);
		font-size: 1.6rem;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
	.about-event{
		@include shift(3);
		@include span-columns(9);
		margin-bottom: 1.4rem;
		@include media(max-width 800px){
			@include shift(0.5);
			@include span-columns(11);
		}
	}
}
